body {background-color:#efeee7;
font-family: Georgia, 'Times New Roman', Times, serif;
color: black; 
line-height: 150%;
margin: 0;
padding: 0}

.nav {float: right;
    font-family: Georgia, 'Times New Roman', Times, serif

}

header {background-color: cornsilk;
}

.header {
width:200px;
background-color:teal;
text-align:center}

h1 {color: #eee;
font-size: 28px;
padding: 30px;
margin: auto;}

.navstyle {margin: 20px; text-align:right}

.row {background: cornsilk}

/*.portfolio {margin: 20px; text-align:right}*/

.left-align {
margin-left: 210px;
}

h2 {font-size: 24px}
    
.bio-border
{border-bottom: 1px solid teal; background: cornsilk}


.container {border: 1px solid black;
    background-color: cornsilk;
    height: 960px;
width: 100%; 
margin: 0 auto;
margin-top: 0px;
}

#contact_form {background: cornsilk}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 135px;
    background-color: teal;
    color: white;
    text-align: center;
    border-top: 8px solid #4aaaa5}

    #contact-info {float: left;
        width: 100%; }
        
        .footer-email {padding-right: 10px; background: teal}

        .footer-github {padding-right: 10px; background: teal}
        
        .footer-portfolio {padding-right: 10px; background: teal}