@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  color: #222;
}

.navbar {
  padding: .8rem;
}

.navbar-nav li {padding-right: 20px
}

.nav-link {
  font-size: 1.1em !important
}

.btn-primary {
  background-color: #6648b1;
}

.btn-primary:hover {
  background-color: #563d7c;
  border: 1px solid #563d7c;
}

.jumbotron {
  padding: 1rem;
  border-radius: 0;
}

.padding {
  padding-bottom: 2rem;
}

.welcome {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}

.welcome hr {
  border-top: 2px solid #b4b4b4;
  width: 95%;
  margin-top: .3rem;
  margin-bottom: 1rem;
}

.fa-code {
  color: #e54d26;
}

.fa-bold {
   color: #563d7c;
}

.fa-css3 {
  color: #2163af;
}

.fa-js {
  color: #ff0066;
}

.fa-node {
  color: #6666ff;
}

.fa-code, .fa-bold, .fa-css3, .fa-js, .fa-node {
  font-size: 4em;
  margin: 1rem;
}

.fun-box {
  width: 100%;
  margin-bottom: 2rem;
}




/* backgroud star css */

a:link {color: white}
a:hover {
    font-weight: bold;
    text-decoration: none}
a:visited {color: whitesmoke}

.large-header {
  position: relative;
  width: 100%;
  background: #111;
  overflow: hidden;
  background-size: cover;

  background-position: center center;
  z-index: 1;
}

.demo .large-header {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/demo-bg.jpg");
}

.main-title {
  position: absolute;
  margin: 0;
  padding: 0;
  color: #F9F1E9;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}
.hidden-picture {
  height: 400px;
  width: 300px;
}

.pro-pic {height: 300px;
width: 325px}

.card-img-top{
  height: 100px;
  width: 100px
}
.demo .main-title {
  text-transform: uppercase;
  font-size: 4.2em;
  letter-spacing: 0.1em;
  height: 150px;
}

.main-title .thin {
  font-weight: 200;
}

@media only screen and (max-width: 768px) {
  .demo .main-title {
     font-size: 3em;
  }
}

/*---Media Queries --*/
@media (max-width: 992px) {

  }
@media (max-width: 768px) {
  
}
@media (max-width: 576px) {
  
}


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}






/* Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

/* Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... } */













/*{background-image: url('../images/let-there-be-sun.png');}

body {font-family: Georgia, 'Times New Roman', Times, serif}

header {background: cornsilk; margin-bottom: 50px;
}

.header-name {background: teal;}

.header {
    width:200px; color: teal;
    background: cornsilk;
    text-align:center;    
height: 80px; width: auto;}

.nav-color {background: cornsilk; flex-direction: inherit;}

.footer-color {background: teal}

.navstyle {margin: 20px; margin-left: 200px; background: cornsilk}

.nav {
    font-family: Georgia, 'Times New Roman', Times, serif; background: cornsilk; padding-left: 30px;
}

.bio-float {float: left}

.left-align {text-align: left; 
    padding-left: 140px; padding-top: 30px;
}

.bio-image {height: 200px;
width: 260px}

.bio-color {border-style: black 1px; background: cornsilk;}

p {background: cornsilk; padding-top: 20px}

.bio-paragraph {padding: 40px}

.bio-header {background: cornsilk; color: teal; 
    }
    
.clearfix::after {content: "";
        clear: both;
        display: table;
    }

    .left-align {
        margin-left: 14px; background: cornsilk;
    }

    .bio-border {border: 1px solid black;
    margin-top: 30px;
    margin: 0 auto;}

.bio-underline {border-bottom: 1px solid black;}


 .container {float: left; 
    background-color: cornsilk;
    width: 65%;
    margin-left:50px;
    margin-top: 30px;
    height: 800px;
    padding-left: 20px;
    margin: 30px 160px 0px 160px;
    overflow-y:scroll;
}

h2 {color: white}

.headingcolor {background: teal}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 135px;
    background: teal;
    color: white;
    text-align: center;
    border-top: 8px solid #4aaaa5}

#contact-info {float: left;
    width: 100%; background: teal}
    
    ul {background: cornsilk}

    strong {background: teal}

    a {background: teal; color: purple}
    
    .footer-email {padding-right: 10px; background: teal;}
    
    .footer-github {padding-right: 10px; background: teal;}
    
    .footer-portfolio {padding-right: 10px; background: teal;}


    /*BEGIN CONTACT PAGE CSS*/

    /* #contact_form {background: cornsilk; padding: 10px; margin: 10px; width: 100%;}

    .contact-tweaks {background: cornsilk;}

    .contact_container {float: left; 
        background-color: cornsilk;
        width: 65%;
        margin-left:50px;
        margin-top: 30px;
        height: 1000px;
        padding-left: 20px;
        margin: 30px 160px 0px 160px;
        overflow-y:scroll;
    }

    .required {background: cornsilk}

 button {background: teal}

 .input {background: white; border: 1px solid black; margin: 10px; width: 75%;}

 /*BEGIN PORTFOLIO PAGE CSS

.portfolio_container {float: left; 
    background-color: cornsilk;
    width: 65%;
    margin-left:50px;
    margin-top: 30px;
    padding-left: 15px;
    height: 1000px;
    margin: 30px 160px 0px 160px;
    overflow-y:scroll;
    border: 1px solid black;
}

.container-photo-label {width: 250px; height: 250px; float: left; margin: 30px; background: cornsilk}

.portfolio-header {background: cornsilk; color: teal}

.portfolio-border {background: cornsilk; height: 1500px;}

.dog-pics {background: cornsilk}

/* background image css 
.large-header {
    position: relative;
    width: 100%;
    background: #111;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    z-index: 1;
 }
 
 .demo .large-header 
 {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/demo-bg.jpg");
 }
 
 .main-title {
    position: absolute;
    margin: 0;
    padding: 0;
    color: #F9F1E9;
    text-align: center;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
 }
 
 .demo .main-title {
    text-transform: uppercase;
    font-size: 4.2em;
    letter-spacing: 0.1em;
 }
 
 .main-title .thin {
    font-weight: 200;
 }
 
 @media only screen and (max-width: 768px) {
    .demo .main-title {
       font-size: 3em;
    }
 }  */
